
@import url('https://fonts.googleapis.com/css?family=Poppins');

.fontstyle{
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(244, 171, 0);
    text-shadow: 50px;

}

.header{color: chocolate;}